body{background-color:#FF8175; width: 80em; border:1px solid blue;}
h2.Subject, h1.Hobby, h2.Nature{background-color:#30B426;}
hr{color: red;}
ul.ulls, ol.olls{color:#F54A0E;}
p.myself{background-color: cyan;
color:red; padding:1em; text-align: }